@model PrescriptionViewModel

@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-success" asp-controller="Medicine" asp-action="Add">Go to Add</a>

<div>
    Prescription's' data: <br />
    Name: @Model.Name<br />
    Created date: @Model.CreatedDate<br />
</div>


<form asp-controller="Medicine" asp-action="Index">
    <input type="text" name="FilterString" />
    <button type="submit" class="btn btn-success">Filter</button>
</form>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Company name
                </th>
                <th scope="col">
                    Active substance
                </th>
                <th scope="col">
                    Weight
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col">
                    Amount
                </th>
                <th scope="col">
                    Price in total
                </th>
                <th scope="col">
                    Expiration date
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medicine in Model.MedicinesList)
            {
                <tr>
                    <th scope="row">
                        @medicine.Id
                    </th>
                    <td>@medicine.Name</td>
                    <td>
                        <a class="text-dark" asp-area="" asp-controller="Medicine" asp-action="Delete" asp-route-medicineId="@medicine.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
