@model List<DoctorViewModel> 
@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-success" asp-controller="Home" asp-action="Add">Go to Add</a>


<form asp-controller="Home" asp-action="Index">
    <input type="text" name="FilterString" />
    <button type="submit" class="btn btn-success">Filter</button>
</form>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    First name
                </th>
                <th scope="col">
                    Last name
                </th>
                <th scope="col">
                    Phone number
                </th>
                <th scope="col">
                    Work years
                </th>
                <th scope="col">
                    Can make prescriptions
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var doctor in Model)
            {
            <tr>
                <th scope="row">
                    @doctor.Id
                </th>
                <th scope="row">
                    @doctor.FirstName
                </th>
                <th scope="row">
                    @doctor.LastName
                </th>
                <th scope="row">
                    @doctor.PhoneNumber
                </th>
                <th scope="row">
                    @doctor.WorkYears
                </th>
                <th scope="row">
                    @doctor.IsAbleToMakePrescriptions
                </th>
                <td>@doctor.FirstName</td>
                <td>
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="View" asp-route-doctorId="@doctor.Id">View @doctor.Id</a> |
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Delete" asp-route-doctorId="@doctor.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
